.text-center {
  text-align: center;
  align-content: start;
  margin-top: 2rem;
}

.container {
  background-color: lightgrey;
  align-items: center;
}

.thumbnail {
  display: block;
  background-color: white;
  margin: 30px;
  text-align: center;
}

.caption {
  block-size: 50px;
}

.headline {
  margin: 50px 0;
  text-align: center;
}

.info {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
